<!-- scoreboard.html -->
<div class="container">
    <div class="row justify-content-center align-items-center text-center" style="height: 20vh; width: 80vw; background-color: #f8f9fa; border-radius: 10px;">
        <div class="col text-center">
            <h5>Correct/Total: {{ correct }}/{{total}}</h5>
        </div>
        <div class="col text-center">
            <h5>Current Score: {{ score }}</h5>
        </div>
        <div class="col text-center">
            <h5>Personal Best:  {{ personal_best }}</h5>
            <p></p>
        </div>
        <div class="col text-center">
            <h5>All-time High: {{ alltime_high }}</h5>
        </div>


    </div>
</div>
